---
import { site } from '../../data/site';
const { title, description } = Astro.props;
const image = site.url + '/og.jpg';
---

<title>{title}</title>

<meta name='description' content={description} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={image} />
<meta property='og:type' content='website' />
<meta property='og:url' content={site.url} />

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:image' content={image} />
